@import "bootstrap-icons/font/bootstrap-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.5px;
  background-color: #252525;
}
